# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
*.retry
terraform.log
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Local .terraform directories
**/.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Crash log files
crash.log